# Binary assets
public/assets/gallery/
public/assets/news/
public/assets/coffee-break/

# Runtime files
auto-imports.d.ts
components.d.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
website
website.zip
deply/website.zip
public/newsCategories
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pasteServer/paste/*
.vite-ssg-temp