@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    background-color: white;
    font-family: 'Noto Sans CJK SC', sans-serif;
    font-size: 12pt;
    min-width: 800px;
  }
  a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 960px) {
    .content-container {
      width: 90vw !important;
    }
  }
  
  .content-container {
    width: 70vw;
    min-width: 960px;
    max-width: 1280px;
    /* flex: 0 0 100%; */
  }
  
  .shadow {
    box-shadow: 0px 0px 10px #999;
    background: #fafafa;
  }
  
  .v-code-block--code {
    z-index: 0 !important;
  }