<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  <div class="container">
    {{ partial "header.html" . }}
    <div class="main">
      <!-- 主侧栏 -->
      <div class="leftbar">
        {{ partial "leftbar.html" . }}
      </div>
      <!-- 中栏 -->
      <div class="content-post" style="background-color: white;">
        <h1>找不到页面（404）</h1>

        <p>你想要访问的页面：<span id="404-current-url"></span> 在站点上不存在。请检查您输入的网页地址（URL）是否正确。</p>
        <script>document.getElementById("404-current-url").innerHTML = window.location.pathname;</script>
        
        
        <p>如果该页面链接是其他网页中所引用的，请 <a href="/">与我们联系</a></p>
        <!-- <p><a href="/">Go back to the home page</a></p> -->
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>

</html>