<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  <div class="container">
    {{ partial "header.html" . }}
    <div class="main">
      <!-- 主侧栏 -->
      <div class="leftbar">
        {{ partial "leftbar.html" . }}
      </div>
      <!-- 中栏 -->
      <div class="content-main">{{- $L1 := resources.Get "images/banner_main1.svg" | resources.Minify -}}
        <img src="{{ $L1.Permalink }}" width="100%">
        <div class="info-key-point">
          <div class="category secondary">资讯要点</div>
          <article class="main-listing">
            <ul>
              <li>
                <span style="font-weight:600;">资讯</span> <a href="" class="link">重返线下：AOSCC 2023 回顾【置顶】</a>
              </li>
              <li>
                <span style="font-weight:600;">公告</span> <a href="" class="link">tmux 更新可能导致默认行为变化</a>
              </li>
              <li>
                <span style="font-weight:600;">公告</span> <a href="" class="link">更新 devel-base 后可能需要手动干预</a>
              </li>
              <li>
                <span style="font-weight:600;">公告</span> <a href="" class="link">MCFly 更新后残留的配置文件可能导致报错</a>
              </li>
            </ul>
            <div class="info-key-point-footer">
              >> 查阅最新 AOSC OS <a class="link">安全公告</a> 及 <a class="link">维护公告</a>
            </div>
          </article>
        </div>
        <div id="topic">
          <div class="category secondary">专栏：初识 AOSC OS</div>
          <article class="main-listing">
            <div class="icon-component">
              <div class="icon-component-icon">{{- $icon_monitor := resources.Get "icons/computer-monitor.svg" | resources.Minify -}}
                <img src="{{ $icon_monitor.Permalink }}" alt="Icon" width="80">
              </div>
              <div class="content">
                <div class="icon-component-icon-title">高效工作</div>
                <div class="icon-component-icon-description">AOSC OS 以开箱即用及简明设计为目标，是您日常工作的得力伙伴。</div>
              </div>
            </div>
            <div class="icon-component">
              <div class="icon-component-icon">{{- $icon_global := resources.Get "icons/globe.svg" | resources.Minify -}}
                <img src="{{ $icon_global.Permalink }}" alt="Icon" width="80">
              </div>
              <div class="content">
                <div class="icon-component-icon-title">走向世界</div>
                <div class="icon-component-icon-description">如果您在互联网连接受限的地区生活，AOSC OS 内建工具可助您畅游
                  全球互联网。</div>
              </div>
            </div>
            <div class="icon-component">
              <div class="icon-component-icon">{{- $icon_shield := resources.Get "icons/shield.svg" | resources.Minify -}}
                <img src="{{ $icon_shield.Permalink }}" alt="Icon" width="80">
              </div>
              <div class="content">
                <div class="icon-component-icon-title">有备无患</div>
                <div class="icon-component-icon-description">内建 Rescuekit 助您排除故障
                  恢复数据。亦可用于备份等预防式维护。</div>
              </div>
            </div>
            <div class="info-key-point-footer">
              <a class="link">>> 详情请见：AOSC OS 适合我吗？</a>
            </div>
          </article>
        </div>
        
        <!-- {{ .Content }} -->
      </div>
      <div class="rightbar">{{- $R1 := resources.Get "images/banner_minor1.svg" | resources.Minify -}}
        <img src="{{ $R1.Permalink }}" width="100%">{{- $R2 := resources.Get "images/banner_minor2.svg" | resources.Minify -}}
        <img src="{{ $R2.Permalink }}" width="100%">
        <div class="rightbar-text">
          <div class="category secondary">系统方案</div>
          <div class="icon-component">
            <div class="icon-component-icon">{{- $icon_aoscos := resources.Get "distros/aosc-os.svg" | resources.Minify -}}
              <img src="{{ $icon_aoscos.Permalink }}" alt="Icon" width="80">
            </div>
            <div class="content">
              <div class="icon-component-icon-title">AOSC OS</div>
              <div class="icon-component-icon-description">可靠、简明、精制</div>
              <div class="icon-component-icon-description">
                <a href="#" class="link">下载</a>
                <a href="#" class="link">发行说明</a>
              </div>
            </div>
          </div>
          <div class="icon-component">
            <div class="icon-component-icon">{{- $icon_afterglow := resources.Get "distros/afterglow.svg" | resources.Minify -}}
              <img src="{{ $icon_afterglow.Permalink }}" alt="Icon" width="80">
            </div>
            <div class="content">
              <div class="icon-component-icon-title">Afterglow</div>
              <div class="icon-component-icon-description">承前启后</div>
              <div class="icon-component-icon-description">
                <a href="#" class="link">下载</a>
                <a href="#" class="link">发行说明</a>
              </div>
            </div>
          </div>
          <div class="icon-component">
            <div class="icon-component-icon">
              <img src="{{ $icon_monitor.Permalink }}" alt="Icon" width="80">
            </div>
            <div class="content">
              <div class="icon-component-icon-title">LiveKit</div>
              <div class="icon-component-icon-description">备不时之需</div>
              <div class="icon-component-icon-description">
                <a href="#" class="link">下载</a>
                <a href="#" class="link">发行说明</a>
              </div>
            </div>
          </div>
          <div class="category secondary">常用链接</div>
          <ul style="margin-left: 20px;">
            <li>
              <a href="" class="link">报告系统使用问题</a>
            </li>
            <li>
              <a href="" class="link">报告安全漏洞</a>
            </li>
            <li>
              <a href="" class="link">寻求现场或远程协助</a>
            </li>
            <li>
              <a href="" class="link">鏡像源支持</a>
            </li>
            <li>
              <a href="" class="link">参与社区投票</a>
            </li>
            <li>
              <a href="" class="link">赞助硬件或服务</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>

</html>