body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0px;
}

.navbar {
  background-color: #002A3F;
  color: white;
  padding: 5px 10px;
  display: block;
  float: right;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 12px;
}

.logo {
  padding: 0;
}

.footer {
  background-color: #355669;
  color: white;
  text-align: left;
  padding: 5px 10px;
}

.leftbar {
  width: 150px;
  /* TODO */
}

.rightbar {
  width: 250px;
  /* TODO */
}

.category {
  background-color: #002a3f;
  color:white;
  padding: 5px 10px;
  margin: 0;
}

.options {
  background-color: #e9e9e9;
  padding: 3px;
  margin: 0;
}
.options li {
  list-style-type: none;
  padding: 0;
  margin: 8px 10px;
}
.options a {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
}

.content {
  flex: 1;
  padding: 0px;
}
.content-post {
  flex: 1;
  padding: 20px;
}

.info-key-point ul {
  list-style-type: disc;
}

.info-key-point-footer {
  text-align: right;
  padding: 0 15px 15px 15px;
  font-size: 14px;
}
ul {
  padding-inline-start: 35px;
}

.link {
  color: CornFlowerBlue;
  text-decoration: none;
}

.bg-white {
  background-color: white;
}

.icon-component {
  display: flex;
  align-items: center;
  padding: 0 30px 0 0;
}
.icon-component-icon {
  flex: 0 0 50px;
  padding: 10px;
}

.icon-component-icon-title {
  font-size: 16px;
  font-weight: 800;
}

.icon-component-icon-description {
  font-size: 14px;
}

img{
  display:block;
}