@media (max-width: 768px) {
	.navbar {
		position: fixed !important;
		z-index: 999;
		padding-left: 10% !important;
	}
}

:root {
	--var-primary-color: #003049;
	--var-secondary-color: #3f6075;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans CJK SC', sans-serif;
	background-color: white;
	font-size: 12pt;
	min-width: 800px;
}

.main-listing {
	padding: 1em;
	line-height: 1.5;
	border-right: 1px solid var(--var-secondary-color);
}

.right-listing {
	padding: 1em 0 0.5em 1em;
}

.news-bullets {
	margin-inline-start: 0;
	margin-block-start: 0;
	padding-left: 1.5em;
}

.main-listing li {
	line-height: 1.33;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 0px;
}

.navbar {
	background-color: var(--var-primary-color);
	color: white;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	padding-left: 400px;
	text-overflow: clip;
	white-space: nowrap;
	z-index: 1;
}

.navbar > .navbar-placeholder{
	width: calc(50vw - 530px);
	display: inline-block;
}
.navbar a {
	color: white;
	text-decoration: none;
	margin: 12px;
}

.footer > .container a {
	color: white;
	text-decoration: none;
	margin: 12px;
}

.options a:hover {
	background: #dcdcdc;
}

.logo {
	padding: 0;
	position: relative;
	min-width: 0;
	max-width: 1024px;
	overflow: clip;
}

.footer {
	background-color: var(--var-secondary-color);
	color: white;
	text-align: left;
	padding: 5px 10px;
}

.leftbar {
	width: 20%;
	background: #ececec;
	/* Prevent text from being selected */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	/* TODO */
}

.rightbar {
	width: 30%;
	background: #fcfcfc;
	/* TODO */
}

.rightbar-text .content {
	line-height: 1.5;
}

.common-links {
	line-height: 1.33;
	margin-inline-start: 0;
	padding-left: 1.5em;
}

.rightbar-text > .icon-component {
	margin-left: 10px;
}

.category {
	background-color: var(--var-primary-color);
	color:white;
	padding: 5px 10px;
	margin: 0;
	user-select: none;
}

.category.secondary {
	background-color: var(--var-secondary-color);
}

.options {
	padding: 3px 0;
	margin: 0;
}
.options li {
	list-style-type: none;
	padding: 0;
}
.options a {
	display: block;
	width: initial;
	text-decoration: none;
	color: black;
	padding: 0 10px 0 16px;
	line-height: 2;
}
.main {
	display: flex;
}

.content {
	flex: 1;
	padding: 0px;
}
.content-post {
	flex: 1;
	padding: 1em;
}

.content-post h1 {
	/* font-size: 24px; */
	font-size: 18pt;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.content-post h2 {
	/* font-size: 20px; */
	font-size: 15pt;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

.content-post h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.content-post p {
	margin-top: 0.5em;
	line-height: 1.5;
}

.content-main {
	background: #fcfcfc;
	flex: 1;
	padding: 0px;
	width: 50%;
}

.category + h1, .category + h2,
.category + p {
	margin-top: 1em;
}

.main-banner-img {
	width: 100%;
}

.right-banner-img {
	width: 100%;
}

.info-key-point ul {
	list-style-type: disc;
}
.highlight > pre {
	overflow: scroll;
}

.info-key-point-footer {
	text-align: right;
	padding: 0 15px 0 15px;
	font-size: 12pt;
	line-height: 1.33;
}

.link {
	color: #0056cc;
	text-decoration: none;
}

.bg-white {
	background-color: white;
}

.icon-component {
	display: flex;
	align-items: center;
	padding: 0 0 15px 0;
}
.icon-component-icon {
	flex: 0 0 50px;
	padding: 0 20px 0 0.5em;
}

.icon-component-icon-img {
	width: 100%;
	height: 100%;
}

.icon-component-icon-title {
	font-size: 14pt;
	font-weight: 600;
}

.icon-component-icon-description {
	font-size: 12pt;
}

img{
	display:block;
}

.page-title {
	margin-bottom: 1.5em;
}

.section-title {
	margin: 2em -1em 0 -2em;
}
